
*.class

CPU/src/Processes
.DS_Store
Gotowy_system/STD_OS/src/stdos/.idea/stdos.iml
Gotowy_system/STD_OS/src/stdos/.idea/modules.xml
Gotowy_system/STD_OS/src/stdos/.idea/misc.xml
Gotowy_system/STD_OS/.idea/workspace.xml
Gotowy_system/STD_OS/.idea/vcs.xml
Gotowy_system/STD_OS/.idea/misc.xml
Gotowy_system/STD_OS/src/stdos/.idea/vcs.xml
Gotowy_system/STD_OS/src/stdos/.idea/stdos.iml
Gotowy_system/STD_OS/.idea/workspace.xml
Gotowy_system/STD_OS/.idea/vcs.xml
Gotowy_system/STD_OS/.idea/misc.xml
Gotowy_system/STD_OS/src/stdos/.idea/stdos.iml
Gotowy_system/STD_OS/.idea/workspace.xml
Gotowy_system/STD_OS/.idea/vcs.xml
Gotowy_system/STD_OS/.idea/misc.xml
Gotowy_system/STD_OS/out/production/STD_OS/META-INF/STD_OS.kotlin_module
Gotowy_system/STD_OS/src/stdos/Processes/ProcessManager.java~
Gotowy_system/STD_OS/.idea/workspace.xml
Gotowy_system/STD_OS/.idea/workspace.xml
Gotowy_system/STD_OS/out/production/STD_OS/stdos/Disk/prog1.txt
Gotowy_system/STD_OS/out/production/STD_OS/stdos/Disk/dummy.txt
Gotowy_system/STD_OS/out/production/STD_OS/.idea/vcs.xml
Gotowy_system/STD_OS/out/production/STD_OS/.idea/src.iml
Gotowy_system/STD_OS/out/production/STD_OS/.idea/modules.xml
Gotowy_system/STD_OS/out/production/STD_OS/.idea/misc.xml
Gotowy_system/STD_OS/.idea/misc.xml
